.backg {
  background: darkblue;
  height: 100vh;
}

.name {
  width: 100%;
  text-align: end;
  padding: 9% 10%;
  background: url('../images/PngItem_5207199.png') no-repeat center;
  background-color: darkblue;
  opacity: 0.8;
  color: #fff;
}

.header {
  display: flex;
  width: 100%;
  padding: 1% 2%;
  background: #020269;
  opacity: 0.7;
  color: #fff;
  justify-content: space-between;
  align-items: center;
}

.link {
  text-decoration: none;
  color: #fff;
}

.backg p {
  color: #fff;
  width: 95%;
  margin: 2% auto;
  padding: 10%;
  border: 0;
  border-radius: 5px;
  background: rgb(7, 136, 179);
}